<header>
  <h1>ToDo Даже и не стараюсь</h1>

  <span
    >Это ToDo приложение на Angular 17 с использование Standalone
    компонентов</span
  >
</header>

<main class="main">
  <div class="main__controls">
    <button (click)="addGroup()" class="button">Добавить группу</button>
  </div>

  <app-todo-group
    [index]="i"
    [todoGroup]="group"
    (changeTitleEvent)="handleChangeTitle($event)"
    (deleteGroup)="handleDeleteGroup($event)"
    (addNewItem)="handleNewItem($event)"
    (changeDescription)="handleChangeDescription($event)"
    (changeItemStatus)="handleChangeStatus($event)"
    (deleteItem)="handleDeleteItem($event)"
    *ngFor="let group of todoGroups; let i = index"
  ></app-todo-group>
</main>
